# =============================================================================
# DATABASE CONFIGURATIONS
# =============================================================================
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rails_public_api_development
POSTGRES_TEST_DB=rails_public_api_test

# =============================================================================
# COINGECKO API CONFIGURATIONS
# =============================================================================
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=
COINGECKO_API_KEY_HEADER=x-cg-demo-api-key